* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f5f8;
}

.header{
  display: flex;
  text-align: center;
  align-items: center;
  height: 100px;
  padding-left: 2rem;
}

.header h3 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-right: 2rem;
}

input {
  border-color: transparent;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

input.error {
  border: 2px solid red;
}

.btn, input {
  padding: .5rem 1rem;
  font-size: 1.8rem;
}

.btn {
  background: #49a6e9;
  border-color: transparent;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
}

.colors{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  height: 100vh;
  font-size: 1.5rem;
}

.color {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  cursor: pointer;

}

.black{
  color: black;
}

.white {
  color: white;
}

.alert {
  margin-top: 5px;
  font-size: 1.4rem;
  color: #777;
}